.iconTooltip {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.iconTooltip:hover {
    cursor: pointer;
}
  
.iconTooltipContainer:hover .iconTooltip {
    opacity: 1;
}
.editBtn, .editCostPriceBtn {
    padding: 3px;
    border-radius: 5px;
}
.editCostPriceBtn:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}